.offer-ride-container {
  .offer-ride-fform {
    width: 300px;
    height: inherit;
    background-color: yellow;
  }
}
.next-button :hover {
  cursor: pointer;
}
.offer-ride-input {
  width: 30% !important;
}
